checker 
code/.idea/*
GenericMakeFile/
code/mrp
test*
*.py
*.ods
code/.idea/workspace.xml

code/a1
code/a2
code/b
code/bin
code/build
code/checker
code/solutions
code/*.csv
.directory
code/.directory

